.headerMain {
  position: fixed;
  top: 0px;
  left: 0px;
  padding-bottom: 80px;
}
.head-main {
  padding-left: 48px;
}

.img-home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
