<div class="container">
    <mat-toolbar>
      <span>Listado de Tipos de transacción</span>
      <div class="button-spacer"></div>
      <button mat-button routerLink="/dashboard/transaction-type-add">Agregar</button>
    </mat-toolbar>
  
    <div *ngIf="listTransactionTypes.length > 0">
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. ium"
          #input
          autocomplete="off"
        />
      </mat-form-field>
  
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
  
          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.status === 'A' ? 'rowActive' : 'rowInactive'">{{ element.id }}</td>
          </ng-container>
  
          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.status === 'A' ? 'rowActive' : 'rowInactive'">{{ element.description }}</td>
          </ng-container>
  
          <!-- Abbreviation Column -->
          <ng-container matColumnDef="abbreviation">
            <th mat-header-cell *matHeaderCellDef>Abreviatura</th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.status === 'A' ? 'rowActive' : 'rowInactive'">
              {{ element.abbreviation }}
            </td>
          </ng-container>
  
          <!-- Tipo Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Tipo
            </th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.status === 'A' ? 'rowActive' : 'rowInactive'">
              {{ element.type }}
            </td>
          </ng-container>
  
          <!-- Estado Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.status === 'A' ? 'rowActive' : 'rowInactive'">{{ element.status }}</td>
          </ng-container>
  
          <!-- Acciones Column -->
          <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="acctions">
              <a
                class="link-actions search"
                matTooltip="Ver Tipo de transacción"
                (click)="editTransactionType(element.id, 0)"
              >
                <mat-icon>search</mat-icon>
              </a>
              <a
                class="link-actions edit"
                matTooltip="Editar Tipo de transacción"
                (click)="editTransactionType(element.id, 1)"
              >
                <mat-icon>edit</mat-icon>
              </a>
              <a
                (click)="deleteTransactionType(element.id)"
                class="link-actions delete"
                matTooltip="Eliminar Tipo de transacción"
              >
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
  
        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          showFirstLastButtons
          aria-label="Select página del Tipo de transacción"
        ></mat-paginator>
      </div>
    </div>
    <div *ngIf="listTransactionTypes.length === 0">
      <h2>No hay Tipos de transacción para mostrar</h2>
    </div>
  </div>
  