<div class="container">
  <mat-toolbar>
    <span>Listado de Clientes</span>
    <div class="button-spacer"></div>
    <button mat-button routerLink="/dashboard/customer-add">Agregar</button>
  </mat-toolbar>

  <div *ngIf="listCustomers.length > 0">
    <mat-form-field appearance="standard">
      <mat-label>Filtro (Ingrese nombres o razón social):</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="{{ placeholderValue }}"
        #input
        autocomplete="off"
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <!-- Tipo Column -->
        <ng-container matColumnDef="customerType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
          <td mat-cell *matCellDef="let element">{{ element.desCustomerType }}</td>
        </ng-container>

        <!-- Tipo de documento Column -->
        <ng-container matColumnDef="documentType">
          <th mat-header-cell *matHeaderCellDef>Tipo de documento</th>
          <td mat-cell *matCellDef="let element">
            {{ element.desDocumentType }}
          </td>
        </ng-container>

        <!-- N° documento Column -->
        <ng-container matColumnDef="documentNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            N° documento
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.documentNumber }}
          </td>
        </ng-container>

        <!-- Razon Social Column -->
        <ng-container matColumnDef="businessName">
          <th mat-header-cell *matHeaderCellDef>
            Apellido(s) y Nombre(s)/Razon Social
          </th>
          <td mat-cell *matCellDef="let element">{{ element.businessName }}</td>
        </ng-container>

        <!-- Nombre comercial Column -->
        <ng-container matColumnDef="comercialName">
          <th mat-header-cell *matHeaderCellDef>Nombre comercial</th>
          <td mat-cell *matCellDef="let element">
            {{ element.comercialName }}
          </td>
        </ng-container>

        <!-- Dirección Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Dirección</th>
          <td mat-cell *matCellDef="let element">{{ element.address }}</td>
        </ng-container>

        <!-- Estado Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">{{ element.status }}</td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" class="acctions">
            <a
              class="link-actions search"
              matTooltip="Ver Cliente"
              (click)="editCustomer(element.id, 0)"
            >
              <mat-icon>search</mat-icon>
            </a>
            <a
              class="link-actions edit"
              matTooltip="Editar Cliente"
              (click)="editCustomer(element.id, 1)"
            >
              <mat-icon>edit</mat-icon>
            </a>
            <a
              class="link-actions delete"
              matTooltip="Eliminar Cliente"
              (click)="deleteCustomer(element.id)"
            >
              <mat-icon>delete</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons
        aria-label="Select page of customer"
      ></mat-paginator>
    </div>
  </div>
  <div *ngIf="listCustomers.length === 0">
    <h2>No hay clientes para mostrar</h2>
  </div>
</div>
