  .option-button {
    margin: 0 5px;
    display: inline-block;
    line-height: 30px;
  }

  .mat-column-idProveedor {
width: 10%;
}
.mat-column-idTipoDocumento {
  width: 10%;
}
.mat-column-nroDocumento {
  width: 10%;
}
.mat-column-razonSocial {
  width: 35%;
}
.mat-column-estado {
  width: 10%;
}
.mat-column-acciones {
  width: 25%;
}