<div class="container">
  <mat-toolbar>
    <span>Listado de Proveedores</span>
    <div class="button-spacer"></div>
    <button mat-button routerLink="/dashboard/agregar-roveedor">Agregar</button>
  </mat-toolbar>

  <div *ngIf="listaProveedores.length > 0">
    <mat-form-field appearance="standard">
      <mat-label>Filtro (Ingrese nombres o razón social):</mat-label>
      <input
        matInput
        (keyup)="aplicarFiltro($event)"
        placeholder="{{ placeholderValue }}"
        #input
        autocomplete="off"
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Id Column -->
        <ng-container matColumnDef="idProveedor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let element">{{ element.idProveedor }}</td>
        </ng-container>

        <!-- Tipo Column -->
        <ng-container matColumnDef="idTipoProveedor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
          <td mat-cell *matCellDef="let element">
            {{ element.desTipoProveedor }}
          </td>
        </ng-container>

        <!-- Tipo de documento Column -->
        <ng-container matColumnDef="idTipoDocumento">
          <th mat-header-cell *matHeaderCellDef>Tipo de documento</th>
          <td mat-cell *matCellDef="let element">
            {{ element.desTipoDocumento }}
          </td>
        </ng-container>

        <!-- N° documento Column -->
        <ng-container matColumnDef="nroDocumento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            N° documento
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.nroDocumento }}
          </td>
        </ng-container>

        <!-- Razon Social Column -->
        <ng-container matColumnDef="razonSocial">
          <th mat-header-cell *matHeaderCellDef>
            Apellido(s) y Nombre(s)/Razon Social
          </th>
          <td mat-cell *matCellDef="let element">{{ element.razonSocial }}</td>
        </ng-container>

        <!-- Nombre comercial Column -->
        <ng-container matColumnDef="nombreComercial">
          <th mat-header-cell *matHeaderCellDef>Nombre comercial</th>
          <td mat-cell *matCellDef="let element">
            {{ element.nombreComercial }}
          </td>
        </ng-container>

        <!-- Dirección Column -->
        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef>Dirección</th>
          <td mat-cell *matCellDef="let element">{{ element.direccion }}</td>
        </ng-container>

        <!-- Estado Column -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
        </ng-container>

        <!-- acciones Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" class="acctions">
            <a
              class="link-actions search"
              matTooltip="Ver Cliente"
              (click)="modificarProveedor(element.idProveedor, 0)"
            >
              <mat-icon>search</mat-icon>
            </a>
            <a
            class="link-actions edit"
            matTooltip="Modificar Cliente"
              (click)="modificarProveedor(element.idProveedor, 1)"
            >
              <mat-icon>edit</mat-icon>
            </a>
            <a
              class="link-actions delete"
              matTooltip="Eliminar Cliente"
              (click)="eliminarProveedor(element.idProveedor)"
            >
              <mat-icon>delete</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons
        aria-label="Select page of Proveedor"
      ></mat-paginator>
    </div>
  </div>
  <div *ngIf="listaProveedores.length === 0">
    <h2>No hay proveedores para mostrar</h2>
  </div>
</div>
