  <div class="container">
  <mat-toolbar class="toolbar">
    <span>Reporte de comprobantes electrónicos</span>
  </mat-toolbar>
  <div class="form-controls">
      <mat-grid-list cols="9" rowHeight="50px">
        <mat-grid-tile [colspan]="1" [rowspan]="1" >
          <mat-label>Fecha emisión:</mat-label>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1" >
          <mat-form-field appearance="fill">
            <mat-date-range-input [formGroup]="rangeDates" [rangePicker]="rangeDate">
              <input matStartDate formControlName="start" placeholder="Fecha Inicio" />
              <input matEndDate formControlName="end" placeholder="Fecha fin" />
            </mat-date-range-input>
            <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="rangeDate"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #rangeDate>
              <mat-date-range-picker-actions>
                <button mat-button matDateRangePickerCancel>Cancel</button>
                <button
                  mat-raised-button
                  color="primary"
                  matDateRangePickerApply
                >
                  Apply
                </button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-left: 20px;" >
          <mat-label>Tipo de documento:</mat-label>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1" >
          <mat-form-field class="input-option">
            <mat-select [(value)]="idTipoDocumento">
              <mat-option>(Seleccione)</mat-option>
              <mat-option
                *ngFor="let tipoDocumento of listaTipoDocumento"
                [value]="tipoDocumento.idTipoDocumento"
              >
                {{ tipoDocumento.descripcion }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-label>Tipo de moneda:</mat-label>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1" >
          <mat-form-field class="input-option">
            <mat-select [(value)]="idMoneda">
              <mat-option>(Seleccione)</mat-option>
              <mat-option
                *ngFor="let moneda of listaMoneda"
                [value]="moneda.idMoneda"
              >
                {{ moneda.descripcion }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" >
          <mat-label>Forma de pago:</mat-label>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1" >
          <mat-form-field class="input-option">
            <mat-select [(value)]="idFormaPago">
              <mat-option>(Seleccione)</mat-option>
              <mat-option
                *ngFor="let formaPago of listaFormaPago"
                [value]="formaPago.idFormaPago"
              >
                {{ formaPago.descripcion }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-label>Estado:</mat-label>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1" >
          <mat-form-field class="input-option">
            <mat-select [(value)]="estado">
              <mat-option>(Seleccione)</mat-option>
              <mat-option
                *ngFor="let estado of listaEstados"
                [value]="estado.valor"
              >
                {{ estado.descripcion }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="9" [rowspan]="1" >
          <div style="margin: 10px">
            <button
              style="min-width: 25px; margin-right: 20px"
              mat-raised-button
              color="primary"
              (click)="descargarReporte()"
            >
              Generar
            </button>
            <button
              style="min-width: 25px"
              mat-raised-button
              color="warn"
              (click)="cleanFilters()"
            >
              Cancelar
            </button>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
  </div>
</div>
