.cardOptions {
    margin-top: 10px;
}

.inputOptionShort {
    max-width: 40%;
}

.inputOptionMedium {
    max-width: 70%;
}

.inputOptionLarge {
    max-width: 200%;
}

.gridTile{
    border: 2px solid rgb(187, 186, 186);
background-color: white;
}