<div class="container">
  <mat-toolbar class="toolbar">
    <span>Mantenimiento de Formas de pago</span>
  </mat-toolbar>

  <div class="form-controls">
    <mat-card class="cardOptions">
      <form [formGroup]="form" (ngSubmit)="agregarFormaPago()">
        <mat-grid-list cols="6" rowHeight="70px">
          <mat-grid-tile
            [colspan]="1"
            [rowspan]="3"
            [style.background]="'transparent'"
          >
            <img
              src="../../../../assets/img/png/formaPago.png"
              alt="forma pago"
              width="250"
              height="70"
            />
          </mat-grid-tile>
          <mat-grid-tile
            [colspan]="5"
            [rowspan]="1"
            [style.background]="'transparent'"
          >
            <div class="inputID">
              <mat-form-field>
                <mat-label>Id</mat-label>
                <input
                  matInput
                  autocomplete="off"
                  [readonly]="readonlyId"
                  formControlName="idFormaPago"
                  maxlength="3"
                />
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile
            [colspan]="4"
            [rowspan]="1"
            [style.background]="'transparent'"
          >
            <div class="inputID">
              <mat-form-field class="inputOptionMedium">
                <mat-label>Descripción</mat-label>
                <input
                  matInput
                  autocomplete="off"
                  formControlName="descripcion"
                  [readonly]="readonlyOption"
                  maxlength="45"
                />
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile
            [colspan]="2"
            [rowspan]="1"
            [style.background]="'transparent'"
          >
            <div class="inputID">
              <mat-form-field class="inputOptionLarge">
                <mat-label>Abreviatura</mat-label>
                <input
                  matInput
                  autocomplete="off"
                  formControlName="abreviatura"
                  [readonly]="readonlyOption"
                  maxlength="10"
                />
              </mat-form-field>
            </div>
            <div style="display: none">
              <mat-form-field>
                <mat-label>Fecha</mat-label>
                <input
                  matInput
                  autocomplete="off"
                  formControlName="fechaCreacion"
                  [readonly]="readonlyOption"
                />
              </mat-form-field>
            </div>
            <div style="display: none">
              <mat-form-field>
                <mat-label>Usuario</mat-label>
                <input
                  matInput
                  autocomplete="off"
                  formControlName="usuarioCreacion"
                  [readonly]="readonlyOption"
                />
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile
            [colspan]="6"
            [rowspan]="1"
            [style.background]="'transparent'"
          >
            <button
              mat-raised-button
              style="margin-right: 20px"
              color="primary"
              type="submit"
              [disabled]="readonlyOption"
            >
              Guardar
            </button>
            <button
              mat-raised-button
              style="margin-right: 20px"
              type="button"
              color="warn"
              [disabled]="eliminar"
              (click)="eliminarformaPago()"
            >
              Eliminar
            </button>
            <button type="button" mat-raised-button (click)="back()">
              Volver
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card>
  </div>
  