<div class="container">
  <mat-toolbar class="toolbar">
    <span>Cargar comprobantes electrónicos</span>
  </mat-toolbar>
  <div class="form-controls">
    <div style="margin: 10px">
      <input type="file" (change)="scan($event)" multiple="multiple" />
      <button
        style="min-width: 25px; margin-right: 20px"
        mat-raised-button
        color="primary"
        [disabled]="listaComprobantesEscaneados.length === 0"
      >
        Escanear
      </button>
      <button
        style="min-width: 25px"
        mat-raised-button
        color="warn"
        [disabled]="listaComprobantesEscaneados.length === 0"
      >
        Cancelar escaneo
      </button>
    </div>
    <div style="margin: 10px">
      <input
        type="file"
        (change)="seleccionarComprobantes($event)"
        multiple="multiple"
      />
      <button
        style="min-width: 25px; margin-right: 20px"
        mat-raised-button
        color="secondary"
        (click)="registrarComprobantes()"
        [disabled]="!habilitarRegistro"
      >
        Registrar comprobantes
      </button>
      <button
        style="min-width: 25px"
        mat-raised-button
        color="warn"
        [disabled]="listaComprobantesPorCargar.length === 0"
        (click)="limpiarListaComprobantesPorCargar()"
      >
        Cancelar registro
      </button>
    </div>
    <div *ngIf="listaComprobantesPorCargar.length > 0">
      <mat-card class="cardOptions" [style.background]="'transparent'">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
            <!-- item Column -->
            <ng-container matColumnDef="item">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>N°</th>
              <td
                mat-cell
                *matCellDef="let element"
                [ngClass]="element.estado === 1 ? 'rowActive' : 'rowInactive'"
              >
                {{ element.item }}
              </td>
            </ng-container>

            <!-- nroDocumento Column -->
            <ng-container matColumnDef="nroDocumento">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Nro comprobante
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                [ngClass]="element.estado === 1 ? 'rowActive' : 'rowInactive'"
              >
                {{ element.nroDocumento }}
              </td>
            </ng-container>

            <!-- ruc Column -->
            <ng-container matColumnDef="ruc">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Doc. proveedor
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                [ngClass]="element.estado === 1 ? 'rowActive' : 'rowInactive'"
              >
                {{ element.ruc }}
              </td>
            </ng-container>

            <!-- razonSocial Column -->
            <ng-container matColumnDef="razonSocial">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Razon social
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                [ngClass]="element.estado === 1 ? 'rowActive' : 'rowInactive'"
              >
                {{ element.razonSocial }}
              </td>
            </ng-container>

            <!-- detalle Column -->
            <ng-container matColumnDef="detalle">
              <th mat-header-cell *matHeaderCellDef>Detalle</th>
              <td
                mat-cell
                *matCellDef="let element"
                [ngClass]="element.estado === 1 ? 'rowActive' : 'rowInactive'"
              >
                {{ element.detalle }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="listadoColumnas"></tr>
            <tr mat-row *matRowDef="let row; columns: listadoColumnas"></tr>
          </table>

          <mat-paginator
            [pageSizeOptions]="[5, 10, 25, 100]"
            showFirstLastButtons
            aria-label="Seleccionar página de comprobantes"
          ></mat-paginator>
        </div>
      </mat-card>
    </div>
    <div
      *ngIf="listaComprobantesPorCargar.length === 0"
      class="empty-list"
    >
      <h2>No hay comprobantes electrónicos seleccionados</h2>
    </div>
  </div>
</div>
