<div class="container">
  <mat-toolbar>
    <span>Listado de Comprobantes electrónicos</span>
    <div class="button-spacer"></div>
    <button mat-button routerLink="/dashboard/electronic-documents-add">
      Agregar
    </button>
  </mat-toolbar>

<div *ngIf="listElectronicDocuments.length > 0">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. ium"
      #input
      autocomplete="off"
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Item Column -->
      <ng-container matColumnDef="N°">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>N°</th>
        <td mat-cell *matCellDef="let element">{{ element.Id }}</td>
      </ng-container>

      <!-- Serie Column -->
      <ng-container matColumnDef="Serie">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Serie</th>
        <td mat-cell *matCellDef="let element">{{ element.Serie }}</td>
      </ng-container>

      <!-- Number Column -->
      <ng-container matColumnDef="Numero">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Numero</th>
        <td mat-cell *matCellDef="let element">{{ element.Number }}</td>
      </ng-container>

      <!-- Razon Social Column -->
      <ng-container matColumnDef="Apellido(s) y Nombre(s)/Razon Social">
        <th mat-header-cell *matHeaderCellDef>Apellido(s) y Nombre(s)/Razon Social</th>
        <td mat-cell *matCellDef="let element">
          <div  *ngIf="element.TransactionType.id == 'C'">{{ element.Supplier.BusinessName }}</div>
          <div  *ngIf="element.TransactionType.id == 'V'">{{ element.Customer.BusinessName }}</div></td>
      </ng-container>

      <!-- Estado Column -->
      <ng-container matColumnDef="Fecha de escaneo">
        <th mat-header-cell *matHeaderCellDef>Fecha de escaneo</th>
        <td mat-cell *matCellDef="let element">{{ element.ScanDate }}</td>
      </ng-container>

      <!-- Tipo de documento Column -->
      <ng-container matColumnDef="Tipo de documento">
        <th mat-header-cell *matHeaderCellDef>Tipo de documento</th>
        <td mat-cell *matCellDef="let element">{{ element.DocumentType.description }}</td>
      </ng-container>

      <!-- Tipo de transacción Column -->
      <ng-container matColumnDef="Tipo de transaccion">
        <th mat-header-cell *matHeaderCellDef>Tipo de transacción</th>
        <td mat-cell *matCellDef="let element">{{ element.TransactionType.description }}</td>
      </ng-container>

      <!-- Tipo de formato Column -->
      <ng-container matColumnDef="Tipo de formato">
        <th mat-header-cell *matHeaderCellDef>Tipo de formato</th>
        <td mat-cell *matCellDef="let element">{{ element.FormatType.description }}</td>
      </ng-container>

      <!-- Forma de pago Column -->
      <ng-container matColumnDef="Forma de pago">
        <th mat-header-cell *matHeaderCellDef>Forma de pago</th>
        <td mat-cell *matCellDef="let element">{{ element.WayPay.description }}</td>
      </ng-container>

      <!-- Total Column -->
      <ng-container matColumnDef="Total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element">{{ element.Total }}</td>
      </ng-container>

      <!-- Moneda Column -->
      <ng-container matColumnDef="Moneda">
        <th mat-header-cell *matHeaderCellDef>Moneda</th>
        <td mat-cell *matCellDef="let element">{{ element.Money.Description }}</td>
      </ng-container>

      <!-- Estado Column -->
      <ng-container matColumnDef="Estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element">{{ element.State }}</td>
      </ng-container>

      <!-- Estado Column -->
      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="acctions">
          <a
            class="link-actions search"
            matTooltip="Ver Comprobante electrónico"
          >
            <mat-icon>search</mat-icon>
          </a>
          <a
            class="link-actions edit"
            matTooltip="Editar Comprobante electrónico"
          >
            <mat-icon>edit</mat-icon>
          </a>
          <a
          (click)="deleteElectronicDocument(element.Item)"
            class="link-actions delete"
            matTooltip="Eliminar Comprobante electrónico"
          >
            <mat-icon>delete</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      showFirstLastButtons
      aria-label="Select page of electronic documents"
    ></mat-paginator>
  </div>
</div>  
<div *ngIf="listElectronicDocuments.length === 0">
  <h2>No hay comprobantes electrónicos para mostrar</h2>
</div>
</div>
