<div class="container">
  <mat-toolbar class="toolbar">
    <span>Listado de cuentas contables</span>
    <div class="button-spacer"></div>
  </mat-toolbar>
  <mat-spinner
    *ngIf="loading"
    diameter="50"
    class="spinner"
    style="margin-top: 200px"
  ></mat-spinner>
  <div class="form-controls" *ngIf="!loading">
    <button
      mat-raised-button
      type="button"
      color="primary"
      routerLink="/dashboard/agregar-cuenta-contable"
    >
      <mat-icon>add_circle_outline</mat-icon>Agregar
    </button>
    <div *ngIf="listaCuentasContables.length > 0">
      <mat-form-field appearance="standard">
        <mat-label>Filtro (Ingrese aquí el filtro)</mat-label>
        <input
          matInput
          (keyup)="aplicarFiltro($event)"
          placeholder="{{ placeholderValue }}"
          #input
          autocomplete="off"
        />
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Id Column -->
        <ng-container matColumnDef="idCuentaContable">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="header-table"
            style="border-radius: 20px 0 0 20px"
          >
            <div class="cell-table">Id Cuenta Contable</div>
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            [ngClass]="element.estado === 'A' ? 'row-active' : 'row-inactive'"
          >
            <div class="cell-table">
              {{ element.idCuentaContable }}
            </div>
          </td>
        </ng-container>
        <!-- Razon Social Column -->
        <ng-container matColumnDef="nombre">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="header-table"
            style="text-align: center"
          >
            Nombre
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            [ngClass]="element.estado === 'A' ? 'row-active' : 'row-inactive'"
          >
            <div class="cell-table">
              {{ element.nombre }}
            </div>
          </td>
        </ng-container>

        <!-- Estado Column -->
        <ng-container matColumnDef="estado">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="header-table"
            style="text-align: center"
          >
            <div class="cell-table">Estado</div>
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            [ngClass]="element.estado === 'A' ? 'row-active' : 'row-inactive'"
          >
            <div class="cell-table">{{ element.desEstado }}</div>
          </td>
        </ng-container>

        <!-- acciones Column -->
        <ng-container matColumnDef="acciones">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="header-table"
            style="border-radius: 0 20px 20px 0"
          ></th>
          <td mat-cell *matCellDef="let element">
            <div class="row-option">
              <button
                mat-raised-button
                class="option-button"
                type="button"
                color="view"
                (click)="modificarCuentaContable(element.idCuentaContable, 0)"
              >
                <mat-icon>search</mat-icon>Ver
              </button>
              <button
                mat-raised-button
                type="button"
                color="success"
                class="option-button"
                (click)="modificarCuentaContable(element.idCuentaContable, 1)"
              >
                <mat-icon>edit</mat-icon>Editar
              </button>
              <button
                mat-raised-button
                type="button"
                color="warn"
                class="option-button"
                (click)="eliminarCuentaContable(element.idCuentaContable)"
              >
                <mat-icon>delete</mat-icon>Eliminar
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons
        aria-label="Seleccionar página de cuentas contables"
      ></mat-paginator>
    </div>
    <div *ngIf="listaCuentasContables.length === 0" class="empty-list">
      <h2>No hay cuentas contables para mostrar</h2>
    </div>
  </div>
</div>
