.option-button {
  margin: 0 5px;
  display: inline-block;
  line-height: 30px;
}

.mat-column-idCuentaContable {
  width: 10%;
}
.mat-column-nomCuentaContable {
  width: 20%;
}
.mat-column-idSubCuentaContable {
  width: 10%;
}
.mat-column-nombre {
  width: 20%;
}
.mat-column-estado {
  width: 10%;
}
.mat-column-acciones {
  width: 30%;
}
