.option-button {
  margin: 0 5px;
  display: inline-block;
  line-height: 30px;
}

.mat-column-idTipoDocumento {
  width: 15%;
}
.mat-column-descripcion {
  width: 45%;
}
.mat-column-estado {
  width: 15%;
}
.mat-column-acciones {
  width: 25%;
}

.testFilter{
  color: black;
}