.option-button {
    margin: 0 5px;
    display: inline-block;
    line-height: 30px;
  }

  .mat-column-fecha {
width: 15%;
}
.mat-column-compra {
  width: 15%;
}
.mat-column-venta {
  width: 15%;
}
.mat-column-estado {
  width: 20%;
}
.mat-column-acciones {
  width: 35%;
}