<div class="container">
  <mat-toolbar>
    <span>Agregar Comprobante electrónico</span>
  </mat-toolbar>

  <mat-card class="cardOptions">
    <form [formGroup]="form" (ngSubmit)="addElectronicDocument()">
      <mat-grid-list cols="4" rowHeight="70px">
        <mat-grid-tile
          [colspan]="2"
          [rowspan]="11"
          [style.background]="'lightblue'"
        >
          <img
            src="../../../../assets/img/png/electronic_document.png"
            alt="electronic document"
            width="250"
            height="250"
          />
        </mat-grid-tile>
        <mat-grid-tile
          [colspan]="2"
          [rowspan]="1"
          [style.background]="'lightblue'"
        >
          <mat-form-field class="inputOptionShort">
            <mat-label>Serie</mat-label>
            <input matInput autocomplete="off" formControlName="Serie" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile
          [colspan]="2"
          [rowspan]="1"
          [style.background]="'lightblue'"
        >
          <mat-form-field class="inputOptionMedium">
            <mat-label>Numero</mat-label>
            <input matInput autocomplete="off" formControlName="Number" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile
          [colspan]="2"
          [rowspan]="1"
          [style.background]="'lightblue'"
        >
          <mat-form-field class="inputOptionLarge">
            <mat-label>Tipo de transacción</mat-label>
            <mat-option>(Seleccione)</mat-option>
            <mat-select
              formControlName="TransactionType"
              [(ngModel)]="transactionTypeId"
            >
              <mat-option>(Seleccione)</mat-option>
              <mat-option
                *ngFor="let transactionType of listTransactionTypes"
                [value]="transactionType.id"
              >
                {{ transactionType.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile
          *ngIf="transactionTypeId === ''"
          [colspan]="2"
          [rowspan]="1"
          [style.background]="'lightblue'"
        >
        </mat-grid-tile>
        <mat-grid-tile
          *ngIf="transactionTypeId === 'VEN'"
          [colspan]="2"
          [rowspan]="1"
          [style.background]="'lightblue'"
        >
          <mat-form-field class="inputOptionLarge">
            <mat-label>Razon Social</mat-label>
            <input
              matInput
              autocomplete="off"
              formControlName="Customer"
              readonly
            />
          </mat-form-field>
          <button
            type="button"
            style="min-width: 25px; margin-left: 20px"
            mat-raised-button
          >
            Buscar Cliente
          </button>
        </mat-grid-tile>
        <mat-grid-tile
          *ngIf="transactionTypeId === 'COM'"
          [colspan]="2"
          [rowspan]="1"
          [style.background]="'lightblue'"
        >
          <mat-form-field class="inputOptionLarge">
            <mat-label>Razon Social</mat-label>
            <input
              matInput
              autocomplete="off"
              formControlName="Supplier"
              readonly
            />
          </mat-form-field>
          <button
            type="button"
            style="min-width: 25px; margin-left: 20px"
            mat-raised-button
          >
            Buscar Proveedor
          </button>
        </mat-grid-tile>
        <mat-grid-tile
          [colspan]="2"
          [rowspan]="1"
          [style.background]="'lightblue'"
        >
          <mat-form-field class="inputOptionLarge">
            <mat-label>Tipo de formato</mat-label>
            <mat-select formControlName="FormatType">
              <mat-option>(Seleccione)</mat-option>
              <mat-option
                *ngFor="let formatType of listFormatTypes"
                [value]="formatType.id"
              >
                {{ formatType.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile
          [colspan]="2"
          [rowspan]="1"
          [style.background]="'lightblue'"
        >
          <mat-form-field class="inputOptionLarge">
            <mat-label>Tipo de documento</mat-label>
            <mat-select formControlName="DocumentType">
              <mat-option>(Seleccione)</mat-option>
              <mat-option
                *ngFor="let documentType of listDocumentTypes"
                [value]="documentType.id"
              >
                {{ documentType.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile
          [colspan]="2"
          [rowspan]="1"
          [style.background]="'lightblue'"
        >
          <mat-form-field class="inputOptionLarge">
            <mat-label>Tipo de formato</mat-label>
            <mat-select formControlName="FormatType">
              <mat-option
                *ngFor="let formatType of listFormatTypes"
                [value]="formatType.id"
              >
                {{ formatType.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile
          [colspan]="2"
          [rowspan]="1"
          [style.background]="'lightblue'"
        >
          <mat-form-field class="inputOptionLarge">
            <mat-label>Forma de Pago</mat-label>
            <mat-select formControlName="WayPay">
              <mat-option>(Seleccione)</mat-option>
              <mat-option
                *ngFor="let wayPay of listWayPays"
                [value]="wayPay.id"
              >
                {{ wayPay.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile
          [colspan]="2"
          [rowspan]="1"
          [style.background]="'lightblue'"
        >
          <mat-form-field class="inputOptionLarge">
            <mat-label>Moneda</mat-label>
            <mat-select formControlName="Money">
              <mat-option>(Seleccione)</mat-option>
              <mat-option *ngFor="let money of listMoneys" [value]="money.Id">
                {{ money.Description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile
          [colspan]="2"
          [rowspan]="1"
          [style.background]="'lightblue'"
        >
          <mat-form-field class="inputOptionLarge">
            <mat-label>Total</mat-label>
            <input matInput autocomplete="off" formControlName="Total" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile
          [colspan]="2"
          [rowspan]="1"
          [style.background]="'lightblue'"
        >
          <button
            mat-raised-button
            style="margin-right: 20px"
            type="submit"
            [disabled]="form.invalid"
          >
            Guardar
          </button>
          <button mat-raised-button>Volver</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card>
</div>
