/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  padding-top: 32px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.button-spacer {
  flex: 1 1 auto;
}

.toolbar {
  background-color: #3f51b5;
  color: white;
  border-radius: 25px;
  border: 2px solid #3f51b5;
  box-shadow: 6px 8px 1px rgb(231, 231, 233);
}

.form-controls {
  margin-top: 10px;
  padding: 20px;
  border-radius: 25px;
  border: 2px solid #3f51b5;
  box-shadow: 6px 8px 1px rgb(231, 231, 233);
}

table {
  width: 100%;
  margin-top: 10px;
}

.header-table {
  font-size: 14px;
  font-weight: bold;
  background-color: #3f51b5;
  color: white;
  border: 1px solid white;
  text-align: center;
  padding: 10px;
}

.cell-table {
  padding: 5px;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #155724;
}

.mat-raised-button.mat-view,
.mat-flat-button.mat-view,
.mat-fab.mat-view,
.mat-mini-fab.mat-view {
  color: #f0fff3;
  background-color: #fcb530;
}

/* .mat-raised-button.mat-warn,
.mat-flat-button.mat-warn,
.mat-fab.mat-warn,
.mat-mini-fab.mat-warn {
  color: #f0fff3;
  background-color: rgb(248, 176, 51);
} */

.empty-list {
  margin-left: 12px;
  margin-top: 48px;
  color: red;
  text-align-last: center;
}

.file-select {
  position: relative;
  display: inline;
  padding: 10px;
}

.file-select::before {
  background-color: #155724;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: "Seleccionar archivos";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.file-select input[type="file"] {
  opacity: 0;
  width: 200px;
  height: 36px;
  display: inline-block;
}

.subtitle {
  font-size: 16px;
  font-weight: bold;
  color: #5678ef;
}

th.mat-header-cell,
mat-cell {
  text-align: center !important;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 10px !important;
}

.spinner-login {
  margin: 20%;
}

.spinner {
  margin: 0 auto; /*centra al medio*/
}

.input-option {
  position: absolute;
  width: 100% !important;
}

.input-option-right {
  margin-right: 10px;
}

.input-numeric {
  text-align: right !important;
}

.img-container {
  width: 100%;
  height: 100%;
}

.img-container img {
  width: 100%;
  height: 100%;
}

.row-active {
  color: black;
}

.row-inactive {
  color: red;
}

.row-option {
  text-align: center;
  margin-left: -20px;
  margin-right: -20px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
