<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="menuPrincipal">...</button>
  <span>{{nombreEmpresa}}</span>
  <mat-menu #menuPrincipal="matMenu">
    <ng-container *ngFor="let modulo of modulos">
      <div *ngIf="modulo.esPrincipal === 1">
        <button mat-menu-item routerLink="{{ modulo.vistaModulo }}">
          {{ modulo.nombreModulo }}
        </button>
      </div>
      <div *ngIf="modulo.esPrincipal === 0">
        <button mat-menu-item [matMenuTriggerFor]="menu_trigger">
          {{ modulo.nombreModulo }}
        </button>
        <mat-menu #menu_trigger="matMenu">
          <div *ngFor="let menu of modulo.menu">
            <div *ngIf="menu.esPadre === 0">
              <button mat-menu-item routerLink="{{ menu.vistaMenu }}">
                {{ menu.nombreMenu }}
              </button>
            </div>
            <div *ngIf="menu.esPadre === 1">
              <button mat-menu-item [matMenuTriggerFor]="submenu_trigger">
                {{ menu.nombreMenu }}
              </button>
              <mat-menu #submenu_trigger="matMenu">
                <button
                  *ngFor="let submenu of menu.subMenu"
                  mat-menu-item
                  routerLink="{{ submenu.vistaSubMenu }}"
                >
                  {{ submenu.nombreSubMenu }}
                </button>
              </mat-menu>
            </div>
          </div>
        </mat-menu>
      </div>
    </ng-container>
  </mat-menu>
  <span class="button-spacer"></span>
  <div *ngFor="let modulo of modulos">
    <div *ngIf="modulo.esPrincipal === 1">
      <div *ngFor="let menu of modulo.menu">
        <ul>
          <li *ngFor="let subMenu of menu.subMenu">
            <div
              class="menu-item"
              *ngIf="subMenu.banner === 1"
              mat-menu-item
              routerLink="{{ subMenu.vistaSubMenu }}"
            >
              {{ subMenu.nombreSubMenu }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div></div>
  <span class="button-spacer"></span>
  <label *ngIf="currentUsuario !== undefined">{{
    currentUsuario.codigoUsuario
  }}</label
  ><button
    mat-icon-button
    (click)="logout()"
    class="example-icon"
    aria-label="menu icon"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
