<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="menuPrincipal">...</button>
  <span>SABFZT</span>
  <mat-menu #menuPrincipal="matMenu">
    <ng-container *ngFor="let mainItem of menu">
      <div *ngIf="mainItem.HasItems === '0'">
        <button mat-menu-item routerLink="{{ mainItem.Redirect }}">
          {{ mainItem.Name }}
        </button>
      </div>
      <div *ngIf="mainItem.HasItems === '1'">
        <button mat-menu-item [matMenuTriggerFor]="sub_menu">
          {{ mainItem.Name }}
        </button>
        <mat-menu #sub_menu="matMenu">
          <button
            *ngFor="let subItem of mainItem.SubMenu"
            mat-menu-item
            routerLink="{{ subItem.Redirect }}"
          >
            {{ subItem.Name }}
          </button>
        </mat-menu>
      </div>
    </ng-container>
  </mat-menu>
  <span class="button-spacer"></span>
  <div *ngFor="let men of menu">
    <ul *ngIf="men.HasItems === '1'">
      <li *ngFor="let subMen of men.SubMenu">
        <div class="menu-item"
          *ngIf="subMen.banner === '1'"
          mat-menu-item
          routerLink="{{ subMen.Redirect }}"
        >
          {{ subMen.Name }}
        </div>
      </li>
    </ul>
  </div>
  <span class="button-spacer"></span>
  <button
    mat-icon-button
    routerLink="/login"
    class="example-icon"
    aria-label="menu icon"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
