<div class="container">
  <mat-toolbar class="toolbar">
    <span>Mantenimiento de comprobantes</span>
    <div class="button-spacer"></div>
    <button mat-button (click)="back()">
      <mat-icon> arrow_back </mat-icon>Regresar
    </button>
  </mat-toolbar>
  <mat-spinner
    *ngIf="loading"
    diameter="50"
    class="spinner"
    style="margin-top: 200px"
  ></mat-spinner>
  <div class="form-controls" *ngIf="!loading">
    <div>
      <form [formGroup]="form" (ngSubmit)="agregarComprobante()">
        <mat-grid-list cols="6" rowHeight="70px">
          <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
            [style.background]="'transparent'"
          >
            <mat-form-field class="input-option input-option-right">
              <mat-label>Id Comprobante</mat-label>
              <input
                matInput
                autocomplete="off"
                readonly
                formControlName="idComprobante"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input-option">
              <mat-form-field>
                <mat-label>Serie</mat-label>
                <input matInput autocomplete="off" formControlName="serie" />
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
            [style.background]="'transparent'"
          >
            <mat-form-field class="input-option" style="margin-left: 20px">
              <mat-label>Correlativo</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="correlativo"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="2">
            <img
              src="../../../../assets/img/png/electronic_document.png"
              alt="electronic document"
              width="250"
              height="250"
            />
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <mat-form-field class="input-option">
              <mat-label>Proveedor</mat-label>
              <input
                type="text"
                matInput=""
                formControlName="idProveedor"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="displayFn"
              >
                <mat-option
                  *ngFor="let proveedorItem of filtroProveedores | async"
                  [value]="proveedorItem"
                >
                  {{ proveedorItem.razonSocial }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </mat-grid-tile>
          <div style="top: 120px; position: absolute">
            <label>{{ proveedor.idProveedor }} </label>
            <label>{{ proveedor.nroDocumento }} </label>
            <label>{{ proveedor.razonSocial }} </label>
          </div>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="input-option input-option-right">
              <mat-label>Tipo de documento</mat-label>
              <mat-select formControlName="idTipoDocumento">
                <mat-option>(Seleccione)</mat-option>
                <mat-option
                  *ngFor="let tipoDocumento of listaTipoDocumento"
                  [value]="tipoDocumento.idTipoDocumento"
                >
                  {{ tipoDocumento.descripcion }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="input-option input-option-right">
              <mat-label>Forma de Pago</mat-label>
              <mat-select formControlName="idFormaPago">
                <mat-option>(Seleccione)</mat-option>
                <mat-option
                  *ngFor="let formaPago of listaFormaPago"
                  [value]="formaPago.idFormaPago"
                >
                  {{ formaPago.descripcion }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="input-option input-option-right">
              <mat-label>F. emisión</mat-label>
              <input
                matInput
                formControlName="fechaEmision"
                [matDatepicker]="pickerFE"
                [readonly]="readonlyOption"
                (dateChange)="asignarTipoCambio()"
              />
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle
                matSuffix
                [for]="pickerFE"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerFE></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="input-option input-option-right">
              <mat-label>F. vencimiento</mat-label>
              <input
                matInput
                formControlName="fechaVencimiento"
                [matDatepicker]="pickerFV"
                [readonly]="readonlyOption"
              />
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle
                matSuffix
                [for]="pickerFV"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerFV></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="input-option input-option-right">
              <mat-label>Moneda</mat-label>
              <mat-select formControlName="idMoneda">
                <mat-option>(Seleccione)</mat-option>
                <mat-option
                  *ngFor="let moneda of listaMoneda"
                  [value]="moneda.idMoneda"
                >
                  {{ moneda.descripcion }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="input-option input-option-right">
              <mat-label>Tipo cambio</mat-label>
              <input
                matInput
                type="numeric"
                autocomplete="off"
                formControlName="tipoCambio"
                class="input-numeric"
                min="1"
                #input
                [SoloNumeros]="true"
                readonly
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="input-option input-option-right">
              <mat-label>Valor compra</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="valorCompra"
                class="input-numeric"
                (keyup)="onKeyUpEvent($event)"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="input-option input-option-right">
              <mat-label>IGV</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="igv"
                class="input-numeric"
                readonly
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="input-option input-option-right">
              <mat-label>Importe Total</mat-label>
              <input
                matInput
                type="numeric"
                autocomplete="off"
                formControlName="importeTotal"
                class="input-numeric"
                min="1"
                #input
                [SoloNumeros]="true"
              />
            </mat-form-field>
          </mat-grid-tile>
          <div style="display: none">
            <mat-form-field>
              <mat-label>estado</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="estado"
                readonly
              />
            </mat-form-field>
          </div>
          <div style="display: none">
            <mat-form-field>
              <mat-label>creacion</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="fechaCreacion"
                readonly
              />
            </mat-form-field>
          </div>
          <div style="display: none">
            <mat-form-field>
              <mat-label>usuario creacion</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="usuarioCreacion"
                readonly
              />
            </mat-form-field>
          </div>
          <mat-grid-tile
            [colspan]="6"
            [rowspan]="1"
            [style.background]="'transparent'"
          >
            <button
              mat-raised-button
              style="margin-right: 20px"
              type="submit"
              color="primary"
              [disabled]="readonlyOption"
            >
              Guardar
            </button>
            <button
              mat-raised-button
              style="margin-right: 20px"
              type="button"
              color="warn"
              [disabled]="eliminar"
              (click)="eliminarComprobante()"
            >
              Eliminar
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </div>
  </div>
</div>
