.option-button {
  margin: 0 5px;
  display: inline-block;
  line-height: 30px;
}

.mat-column-nomEmpleado {
  width: 25%;
}
.mat-column-codigoUsuario {
  width: 15%;
}
.mat-column-estado {
  width: 15%;
}
.mat-column-acciones {
  width: 25%;
}