<div class="container">
  <mat-toolbar class="toolbar">
    <span>Listar usuarios</span>
    <div class="button-spacer"></div>
  </mat-toolbar>
  <mat-spinner
    *ngIf="loading"
    diameter="50"
    class="spinner"
    style="margin-top: 200px"
  ></mat-spinner>
  <div class="form-controls" *ngIf="!loading">
    <button
      mat-raised-button
      type="button"
      color="primary"
      routerLink="/dashboard/agregar-usuario"
    >
      <mat-icon>add_circle_outline</mat-icon>Agregar
    </button>
    <div *ngIf="listaUsuarios.length > 0">
      <mat-form-field appearance="standard">
        <mat-label>Filtro (Ingrese aquí el filtro)</mat-label>
        <input
          matInput
          (keyup)="aplicarFiltro($event)"
          placeholder="{{ placeholderValue }}"
          #input
          autocomplete="off"
        />
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" matSort>
        <!-- nomEmpleado Column -->
        <ng-container matColumnDef="nomEmpleado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>nomEmpleado</th>
          <td mat-cell *matCellDef="let element">{{ element.nomEmpleado }}</td>
        </ng-container>

        <!-- codigoUsuario Column -->
        <ng-container matColumnDef="codigoUsuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            codigoUsuario
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.codigoUsuario }}
          </td>
        </ng-container>

        <!-- nomPerfilUsuario Column -->
        <ng-container matColumnDef="nomPerfilUsuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            nomPerfilUsuario
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.nomPerfilUsuario }}
          </td>
        </ng-container>

        <!-- Estado Column -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
        </ng-container>

        <!-- acciones Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" class="acctions">
            <a
              class="link-actions search"
              matTooltip="Ver Cliente"
              (click)="
                modificarUsuario(element.idEmpleado, element.codigoUsuario, 0)
              "
            >
              <mat-icon>search</mat-icon>
            </a>
            <a
              class="link-actions edit"
              matTooltip="Modificar Cliente"
              (click)="
                modificarUsuario(element.idEmpleado, element.codigoUsuario, 1)
              "
            >
              <mat-icon>edit</mat-icon>
            </a>
            <a
              class="link-actions delete"
              matTooltip="Eliminar Cliente"
              (click)="eliminarUsuario(element.idEmpleado, element.idUsuario)"
            >
              <mat-icon>delete</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
      [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons
        aria-label="Seleccionar página de Usuario"
        ></mat-paginator>
      </div>
      <div *ngIf="listaUsuarios.length === 0" class="empty-list">
        <h2>No hay usuarios para mostrar</h2>
      </div>
    </div>
  </div>
