.cardOptions {
    margin-top: 10px;
  }
  
  .inputOptionLarge {
    width: 400px;
  }
  
  .inputOptionMedium {
    width: 200%;
  }
  
  .inputID {
    position: absolute;
    left: 5px;
    width: 100%;
  }
  